<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s331153s333975mappe2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Aktivitet_Mote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Aktivitet_MoteDeltagelse"
            android:parentActivityName=".Aktivitet_Mote"/>
        <activity android:name=".Aktivitet_MoteReg"
            android:parentActivityName=".Aktivitet_Mote"/>
        <activity android:name=".Aktivitet_MoteEndre"
            android:parentActivityName=".Aktivitet_MoteDeltagelse"/>
        <activity android:name=".Aktivitet_Kontakt"
            android:parentActivityName=".Aktivitet_Mote"/>
        <activity android:name=".Aktivitet_KontaktReg"
            android:parentActivityName=".Aktivitet_Kontakt"/>
        <activity android:name=".Aktivitet_KontaktInfo"
            android:parentActivityName=".Aktivitet_Kontakt"/>
        <activity android:name=".Aktivitet_KontaktEndre"
            android:parentActivityName=".Aktivitet_KontaktInfo"/>
        <activity android:name=".Aktivitet_MoteRegDeltagelse"
            android:parentActivityName=".Aktivitet_MoteDeltagelse"/>
        <activity android:name=".Aktivitet_Innstillinger"
            android:parentActivityName=".Aktivitet_Mote"/>
        <receiver android:name=".MinBroadcastReceiver">
            <intent-filter>
                <action android:name=".serviceBroadcast"/>
            </intent-filter>
        </receiver>
        <service android:name=".SettPeriodiskService"/>
        <service android:name=".MinVarselService"/>
    </application>
</manifest>